/** Noticias **/

.layouts__news{
    padding: 8rem 0;
    background-color: var(--white);
    position: relative;
    z-index: 11;
    padding-top: 5rem;
}

.news__header{
    text-align: left;
}

.news__subtitle{
    color: var(--color-banner);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    /* text-align: right; */
    text-transform: capitalize;
}

.news__title{
    color: var(--black);
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1.1;
    /* text-align: right; */
    text-transform: capitalize;
}

.news__description{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}


.news__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 5rem;
    margin-top: 0rem;
}

.news__new{
    border-radius: 0.8rem;
    background-color: #f7f7f7;
    padding-bottom: 1rem;
    border-top: 1px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.news__new:hover{
    transform: translateY(-10px);
}

.new__content{
    padding: 1rem 2rem;
}


.new__container-img{
    overflow: hidden;
    border-radius: 0.5rem;
}

.new__img{
    height: 20rem;
    max-height: 20rem;
    min-height: 20rem;
    transition: all 300ms ease-in-out;
}

.news__new:hover .new__img{
    filter: grayscale(1);
}

.new__title {
    margin-bottom: 1rem;
}

.new__title a{
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: -0.5px;
    transition: all 300ms ease-in-out;
}

.new__title a:hover{
    color: var(--color-banner);
}

.new__description{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.new__more{
    display: inline-block;
    font-weight: 400;
    font-size: 1.3rem;
    color: #777;
    transition: all 300ms ease-in-out;
}

.new__more:hover{
    color: var(--color-banner);
}

.new__icon{
    font-size: 1.3rem;
}


.new-shapes__item{
    position: absolute;
    z-index: -1;
}


.new-shapes--shape1{
    top: 10rem;
    right: 19%;
}

.new-shapes--shape2{
    top: 24rem;
    right: 0;
    opacity: 0.2;
    display: none;
}

.new-shapes--shape3{
    bottom: 5rem;
    left: 65rem;
}

.new-shapes--shape4{
    bottom: 1rem;
    right: 50px;
    display: none;
}
